<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SuiteName">
    <listeners>
        <listener class-name="runner.ExtentReportManager"/>
    </listeners>
    <test name="TestName">

        <classes>
            <class name="runner.TestngRunner" />

        </classes>
    </test>
</suite>
